
$color-primary: #3574dc;
$color-white: #fff;


.header{ 
  display: flex;
  justify-content: space-around;
  height: 150%;
  align-items: center;

}
.back {
  background-image: url('../reactkit/phili.png');
  background-size: cover;
  height: 980px;
}
.head2 ul{
  display: flex;
  padding-left: 0;

}

.head2 li {
 list-style-type: none;
 padding-right: 50px;
 font-size: 19px;
 border: 20px red;
}

.head2 li:last-child{
  padding-right: 0;
}

.head2 a{
  text-decoration: none;
  color: rgba(88,88,88,0.8);
}

.head2 a:hover{
  color: $color-primary;
}


h1{
  color: $color-white;
}